[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
isort = "*"
langchain = "*"
langchain-openai = "*"
langgraph = "*"
grandalf = "*"
langchain-community = "*"
beautifulsoup4 = "*"
tavily-python = "*"
langchainhub = "*"
langchain-chroma = "*"
pytest = "*"
langgraph-checkpoint-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
